{{! <div class="login-container">
      <h2>Login</h2>
      <form id="login-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <button type="submit">Login</button>
      </form>
    </div> }}

{{!-- <div class="topInfo"> singup
  <div class="container">
    <h1 class="is-size-3" >Welcome to the website</h1>
    <p class="is-size-3">Please follow the prompt to get access to the website</p>
  </div>
</div>

<div class="container">
  <div class="columns">
    <div class="column is-half">
      <form action="/" method="post" role="form">
        <div class="field">
          <label class="label" id="first_name">First Name</label>
          <div class="control">
            <input
              class="input"
              type="text"
              name="first_name"
              id="first_name"
              placeholder="First Name"
            />
          </div>
        </div>

        <div class="field">
          <label class="label" id="last_name">Last Name</label>
          <div class="control">
            <input
              class="input"
              type="text"
              name="last_name"
              id="last_name"
              placeholder="Last Name"
            />
          </div>
        </div>

        <div class="field">
          <label class="label" id="email">Email Address</label>
          <div class="control">
            <input
              class="input"
              type="text"
              name="email"
              id="email"
              placeholder="Email Address"
            />
          </div>
        </div>

        <div class="field">
          <label class="label" id="password">Password</label>
          <div class="control">
            <input
              class="input"
              type="password"
              name="password"
              id="password"
            />
          </div>
        </div>

        <div class="field">
          <label class="label" id="confirm_password">Confirm Password</label>
          <div class="control">
            <input
              class="input"
              type="password"
              name="confirm_password"
              id="confirm_password"
            />
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button type="submit" class="button is-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> --}}

{{! <div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input">
  </div>
</div>

<div class="field">
  <label class="label">Username</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-success" type="text" placeholder="Text input" value="bulma">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </div>
  <p class="help is-success">This username is available</p>
</div>

<div class="field">
  <label class="label">Email</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
  </div>
  <p class="help is-danger">This email is invalid</p>
</div> }}

 {{!-- <P class="is-size-1 has-text-black has-text-centered has-background-primary">login form</P>
<div class="field my-6 mx-6 login">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="email" placeholder="Email">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="password" placeholder="Password">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control">
    <button class="button is-success">
      Login
    </button>
  </p>
</div>   --}}




{{!-- <div class="column is-one-third is-offset-one-quarter login-card">
    <h2 class="title is-2">Login</h2>
    <form class="form Login-form">
      <div class="field">
        <label class="label" for="Login-Username">Username:</label>
        <div class="control">
          <input class="input" type="text" id="Login-Username" />
        </div>
      </div>
      <div class="field">
        <label class="label" for="Login-Password">Password:</label>
        <div class="control">
          <input class="input" type="password" id="Login-Password" />
        </div>
      </div>
    </form>
</div> --}}


<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar item ">
      <img src="/img/word-workout.jpg" alt=" Workout word" style="max-height: 70px" class=" py-2 px -2">
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item py-2 px-2">LOGIN</a>
      <a class="navbar-item">SIGNUP</a>
    </div>
  </div>
</nav>
<div></div>